{% extends "base_generic.html" %}
{% block content %}
<div class="card">
  <h5 class="card-header">Author Detail page </h5>
  <div class="card-body">
    <h5 class="card-title">Name : {{author_name.name}} </h5>
    <h5 class="card-title">Bio :  </h5>
    <p class="card-text">{{author_name.bio}}</p>
    <div class="list-group">
        {% for a in author_detail%}          
            <a href="/recipe/{{a.id}}/" class="list-group-item list-group-item-action "> {{a.title}} </a>     
        {%endfor%}

      </div>
      <a href="/" type="button"  class="btn btn-outline-dark">Go Back home</a>
  </div>
</div>


{% endblock %}