{% extends "base_generic.html" %}
{% block content %}
{% if not recipe_detail%}
    <h3> The recipe you are looking is not exist</h3>
{% else %} 
<div class="card  bg-primary mb-3">
  <div class="d-flex justify-content-center card-header text-white ">Recipe detail page</div>
 <div class="card card-body text-black">

    <h5 class="card-title">Title : {{recipe_detail.title}}</h5>
    <h5 class="card-title">Author Name : <a href="/author/{{recipe_detail.author.id}}/" class="btn btn-info"  ><i class="fas fa-share"></i> {{recipe_detail.author.name}}</a></h5>
    <h5 class="card-title">Time Required : {{recipe_detail.time_required}}</h5>
    <h5 class="card-title">Time Required : {{recipe_detail.time_required}}</h5>
    <h5 class="card-title">Description :  </h5>
    <p class="card-text">{{recipe_detail.description}}</p>
    <h5 class="card-title">Instructions :  </h5>
    <p class="card-text">{{recipe_detail.instruction}}</p>
   
      <a href="/" type="button"  class="btn btn-secondary"><i class="fas fa-reply"></i> Back</a>
  </div>
</div>
{% endif %}
{% endblock %}