<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-recipes">
				<div class="card-header">
					<h5 class="card-title">Total Recipes</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_recipes}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-author">
				<div class="card-header">
					<h5 class="card-title">Total Authors</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title">{{total_author}}</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-popularity">
				<div class="card-header">
					<h5 class="card-title">Popularity</h5>
				</div>
				<div class="card-body">
					<h3 class="card-title"><i class="fa fa-cog fa-spin"></i> 99%</h3>
				</div>
			</div>
		</div>
	</div>
</div>